@import url("./fonts.css");

body{
    overflow-x: hidden;
}

.title{
    width: 100vw;
    height: 500px;
    background-image: url("..//Assets/bg2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title div{
    display: flex;
    flex-direction: column;
    width: 450px;
    color: black;
    background: rgba(255, 255, 255, 0.657);
    padding: 20px;
    margin: 30px;
    padding-right: 0;
}

.title div p{
    font-weight: 500;
}

@media only screen and (max-width:540px){
    .title h1{
        font-size: 30px;
    }

    .title p{
        font-size: 15px;
    }

    .title div{
        width: 300px;
        padding: 20px;
    }
}

@media only screen and (max-width:500px){
    .title div{
        width: 250px;
        height: auto;
    }
    .title h1{
        font-size: 25px;
    }

    .title p{
        font-size: 15px;
    }
}

@media only screen and (max-width:400px){
    .title div{
        width: 200px;
        height: auto;
    }
    .title h1{
        font-size: 22px;
    }

    .title p{
        font-size: 15px;
    }
}

@media only screen and (max-width:300px){
    .title div{
        width: 170px;
        height: auto;
    }
    .title h1{
        font-size: 20px;
    }

    .title p{
        font-size: 15px;
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: "Truculenta";
    overflow-x: hidden;
}

.text1{
    width: 600px;
    text-align: center;
}

.text1 img{
    width: 430px;
    height: 300px;
}

@media only screen and (max-width:680px){
    .text1{
        width: 500px;
    }

    .text1 img{
        width: 370px;
    }
}

@media only screen and (max-width:560px){
    .text1{
        width: 400px;
    }

    .text1 img{
        width: 300px;
        height: 240px;
    }
}

@media only screen and (max-width:440px){
    .text1{
        width: 300px;
    }

    .text1 img{
        width: 300px;
        height: 240px;
    }
}

@media only screen and (max-width:360px){
    .text1{
        width: 270px;
    }

    .text1 img{
        width: 300px;
        height: 240px;
    }
}



/*Timeline*/
.timeline {
    border-left: 3px solid rgba(39, 167, 0, 0.87);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(39, 167, 0, 0.082);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #d8ddd4;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}



@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #1e830483;
    box-shadow: 0 0 0 3px #437c54;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 10px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

#my-time{
    display: flex;
    margin: 40px;
}

#my-time #img1{
    height: 700px;
}


@media only screen and (max-width:1100px){
    #my-time #img1{
        height: 600px;
    }
}

@media only screen and (max-width:1000px){
    #my-time #img1{
        height: 500px;
    }

    .timeline{
        max-width: 40%;
    }
}

@media only screen and (max-width:750px){
    #my-time{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .timeline{
        max-width: 50%;
    }

    #my-time #img1{
        width: 400px;
        height: 600px;
        margin-top: 20px;
    }
}

@media only screen and (max-width:600px){
    #my-time{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .timeline{
        max-width: 70%;
    }

    #my-time #img1{
        width: 400px;
        height: 600px;
        margin-top: 20px;
    }
}

/*Animations images*/

.img-row {
    display: flex;
    justify-content: center;margin-bottom: 40px;
}
  .img-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 150px;
    float: left;
    position: relative;
  }
  
  .img-container:last-child {
    margin-right: 0;
  }
  
  .img-container img {
    position: absolute;
    width: 400px;
    height: 400px;
    transition: transform 1s ease-out;
}

.img-container img:hover{
    transform: scale(1.2);
}

@media only screen and (max-width:1000px){
    .img-row{
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }
}





